<div class="d-flex w-75 mx-auto my-2">
@foreach(var card in Cards)
{
<CardComponent Card="card"/>
}
</div>

@code
{
    List<ProductCard> Cards = new()
    {
        new ProductCard{Image = "images/nickebror.jpeg", Heading = "Nicholas Meregali"},
        new ProductCard{Image = "Images/PanpayakJitmuangnon.jpg", Heading = "Panpayak Jitmuangnon"},
        new ProductCard{Image = "images/issyadesanya.jpg", Heading = "Israel Adesanya"}
    };
}