@page "/"
<NavComponent/>
@* <MenuComponent/>
<CarouselComponent/>
<CardListComponent/> *@
<div class="d-flex vh-100">
    <AsideComponent></AsideComponent>
    <ProductComponent></ProductComponent>
</div>
